:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --main-color: #ACD9B2;
    --text-input-field: #F7F7F7;
    --soft-grey: #C7C7C7;
}

body{
    font-family: 'Quicksand', sans-serif;
}