/*------------------Estilos generales------------------*/
:root{
    --dark: #232830;
    --main-color: #82b389;
    --text-input-field: #ededed;
    --soft-grey: #a3a3a3;
    --background: #F5F5F5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    background: var(--background);
}





/*Navbar general------------------*/
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--main-color);
    padding: 0 24px;
    margin: 6px 0;
}

.menu {
    display: none;
}

.logo {
    width: 125px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a, .navbar-right ul li {
    padding: 8px;
}

a {
    text-decoration: none;
    color: var(--dark);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
}
a:hover, a:focus {
    background-size: 100% 2px;
    color: var(--main-color);
}

.navbar__email {
    cursor: pointer;
    color: var(--soft-grey);
    font-size: var(--sm);
}
.navbar__email:hover, .navbar__email:focus-visible {
    color: var(--main-color);
    font-weight: bold;
}

.navbar__shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar__shopping-cart:hover {
    transform: scale(1.03);
}

.navbar__shopping-cart div {
    width: 18px;
    height: 18px;
    background-color: var(--main-color);
    border-radius: 100%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive {
    display: none;
}





/*Menú desktop------------------*/
.desktop-menu {
    position: absolute;
    top: 55px; 
    right: 50px;
    background-color: white;
    width: 91px;
    height: auto;
    border: 1px solid var(--main-color);
    border-radius: 4px; 
    padding: 20px 20px 0 20px;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
    font-size: var(--md);
}

.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 2px solid var(--soft-grey);
}
.desktop-menu ul li:last-child a {
    color: var(--main-color);
}

.desktop-menu ul li a {
    color: var(--dark);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}





/*Menú mobile------------------*/
.mobile-menu {
    position: absolute;
    top: 67px;
    padding: 4px 20px;
    background-color: white;
    border: 1px solid var(--soft-grey);
    border-radius: 0 0 16px 16px;
}

.mobile-menu ul {
    padding: 0;
    margin: 48px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 2px solid var(--soft-grey);
}

.mobile-menu ul li {
    margin-bottom: 26px;
    font-size: var(--md)
}

.mobile-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: var(--md)
}

.mobile-menu ul:nth-child(3) {
    letter-spacing: 1px;
    font-size: var(--md);
}

.mobile-menu .sign-out {
    color: var(--main-color);
}





/*Aside CARRITO------------------*/
.product-detail {
    background-color: white;
    border: 1px solid var(--soft-grey);
    width: 360px;
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 67px;
    box-sizing: border-box;
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container img {
    transform: rotate(180deg);
    margin: 0 8px 0 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.content__order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.content__order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.content__order p span:nth-child(1) {
    font-size: var(--sm);
}

.content__order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart__product {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart__product figure {
    margin: 0;
}

.shopping-cart__product img {
    height: 70px;
    width: 70px;
    border-radius: 16px;
    object-fit: cover;
}

.shopping-cart__product p:nth-child(2) {
    font-size: var(--sm);
    color: var(--dark)
}

.shopping-cart__product p:last-child {
    font-weight: bold;
    font-size: var(--md)
}

.shopping-cart__product .btn-cancel {
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-right: 12px;
}

.primary-button {
    background: var(--main-color);
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    padding: 1rem;
}
.primary-button:hover {
    background-color: #8bbd93;
}





/*PRODUCTOS------------------*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin: 2vh 0;
}

.product-card {
    width: 240px;
}

.product-card__img {
    width: 230px;
    height: 240px;
    border-radius: 24px;
    object-fit: cover;
    border: 4px double var(--main-color);
    cursor: pointer;
}

.product-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

.product-card__info div p:nth-child(2) {
    font-size: var(--md);
    margin: 4px;
    color: var(--dark);
}

.product-card figure {
    margin: 0;
}

.product-card figure img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.product-card figure img:hover {
    transform: scale(1.05);
}





/*PRODUCT DETAIL------------------*/
.product-detail {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
    background-color: var(--text-input-field);
}

.product-detail__close {
    background: var(--background);
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 8px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail__close:hover {
    background: var(--soft-grey);
}

.product-detail__close img {
    width: 14px;
    height: 14px;
}

.product-detail > img:nth-child(2) {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-detail__info {
    margin: 24px 24px 0 24px;
}

.product-detail__info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
}

.product-detail__info p:nth-child(2) {
    font-weight: bold;
    font-size: var(--lg);
    margin-top: 0;
    margin-bottom: 32px;
}

.product-detail__info p:nth-child(3) {
    font-size: var(--sm);
    margin-bottom: 32px;
}

.primary-button {
    background: var(--main-color);
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.primary-button:hover {
    background-color: #8bbd93;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}







@media screen and (max-width: 640px) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .navbar-left ul, .navbar__email, .desktop-menu {
        display: none;
    }

    .product-detail {
        width: 100%;
    }

    .product-detail {
        width: 100%;
    }
}

@media screen and (min-width: 641px) {
    .mobile-menu {
        display: none;
    }

    .product-detail {
        border-radius: 12px 0 0 12px;
    }
}