@import '../../../styles.scss';

.product-card {
  width: 250px;

  .product-card__img {
    width: 240px;
    height: 250px;
    border-radius: 24px;
    object-fit: cover;
    border: 4px double $main-color;
    cursor: pointer;
  }

  .product-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      p:nth-child(1) {
        font-weight: bold;
        font-size: $md;
        margin-bottom: 4px;
      }
      p:nth-child(2) {
        font-size: $md;
        margin: 4px;
        color: $dark;
      }
    }
  }

  figure {
    margin: 0;
    img {
      width: 36px;
      height: 36px;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
