.main-container {
  margin: 16px;
}

.cards-container {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}

.loader-button__container {
  text-align: center;
}

.loader-button {
  font-size: 1rem;
  border-radius: 8px;
  background-color: #82b389;
  padding: 16px;
  cursor: pointer;
  color: white;
  border: none;
}
