@import '../../../styles.scss';

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $main-color;
  padding: 0 24px;
  margin: 6px 0;

  .menu {
    display: none;
  }
  
  .navbar-left ul, .navbar-right ul {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .navbar-left ul {
    margin-left: 12px;
  }

  .navbar-left ul li a, .navbar-right ul li {
    padding: 8px;
  }
}

.logo {
  width: 125px;
}

a {
  text-decoration: none;
  color: $dark;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s;
}
a:hover, a:focus {
  background-size: 100% 2px;
  color: $main-color;
}

.navbar__email {
  cursor: pointer;
  color: $soft-grey;
  font-size: $sm;
  font-weight: bold;
}
.navbar__email:hover, .navbar__email:focus-visible {
  color: $main-color;
}

.navbar__shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar__shopping-cart:hover {
  transform: scale(1.03);
}

.navbar__shopping-cart div {
  width: 18px;
  height: 18px;
  background-color: $main-color;
  border-radius: 100%;
  font-size: $sm;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive {
  display: none;
}

@media screen and (max-width: 640px) {
  .menu {
      display: block;
      cursor: pointer;
  }

  .navbar-left ul, .navbar__email, .desktop-menu {
      display: none;
  }
}
