<nav>
  <img src="../../../assets/icon_menu.svg" alt="Menú" class="menu" (click)="toggleMenu()">
  <div class="navbar-left">
      <img src="../../../assets/logo_yard_sale.svg" alt="Logo" class="logo">
      <ul>
          <li><a href="#">Todo</a></li>
          <li class="li-display">
            <div (click)="toggleMenu()">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 10l6 6l6 -6h-12" />
              </svg>
            </div>
          </li>
          <li><a href="#">Ropa</a></li>
          <li><a href="#">Electrodomésticos</a></li>
          <li><a href="#">Muebles</a></li>
          <li><a href="#">Juguetes</a></li>
          <li><a href="#">Otros</a></li>
      </ul>
  </div>

  <div class="navbar-right">
      <ul>
          <li class="navbar__email">carinapaylemandev@gmail.com</li>
          <li class="navbar__shopping-cart">
              <img src="../../../assets/icon_shopping_cart.svg" alt="Carrito">
              <div>{{myShoppingCart.length}}</div>
          </li>
      </ul>
  </div>

  <div class="mobile-menu" [class.active]="activeMenu">
    <ul class="categories">
      <li class="categories-title">CATEGORÍAS</li>
      <li><a href="#">Todo</a></li>
      <li><a href="#">Ropa</a></li>
      <li><a href="#">Electrodomésticos</a></li>
      <li><a href="#">Muebles</a></li>
      <li><a href="#">Juguetes</a></li>
      <li><a href="#">Otros</a></li>
    </ul>
    <ul>
      <li><a href="mis-pedidos.html">Mis pedidos</a></li>
      <li><a href="mi-cuenta.html">Mi cuenta</a></li>
      <li><a href="#" class="sign-out">Salir</a></li>
    </ul>
  </div>


  <div class="desktop-menu">
    <ul>
        <li><a href="mis-pedidos.html" class="title">Mis pedidos</a></li>
        <li><a href="mi-cuenta.html">Mi cuenta</a></li>
        <li><a href="#">Salir</a></li>
    </ul>
  </div>

</nav>
